@media (min-width: 576px)
.container {
    width: 800px;
    max-width: 100%;
}

@media print
{
    .noprint {display:none;}
    .container {
        width: 960px;
        max-width: 100%;
    }
    .footer {
    padding-top: 1.5rem;
    margin-top: 15.5rem;
    color: #777;
    border-top: 0.05rem solid #E5E5E5;
    font-size: 8px;
    }
    
    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}
}


.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #fff;
    cursor: default;
    background-color: #d9534f;
}

a {
    color: #d9534f;
    text-decoration: none;
}

.h2, h2 {
    font-size: 2rem;
    margin: 2.5rem;
}

#manuscrito {
    line-height: 30px;
}

#pedido {
    font-weight: bold;
}